# Maven output
/target/
!/src/main/**/target/
!/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build
build/
!/src/main/**/build/
!/src/test/**/build/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Shell scripts (optional)
*.sh
